.glyphicon-picture {
	padding-right: 3px;
}
.navbar-inverse {
	background: #2c3e50;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.jumbotron {
	color: #2c3e50;
}
body {
	padding-top: 70px;
}
